<ul class="docs-sidebar__list">
    <li><a href="{{ site.url }}">Documentation Home</a></li>

    {% for section in site.top_level_sections %}
        {% if page.section == section %}
            {% assign sectionClass = "expanded" %}
        {% else %}
            {% assign sectionClass = "collapsed" %}
        {% endif %}

        {% if section == "Introduction" %}
            {% assign sectionClass = "expanded" %}
        {% endif %}

        <li>
            <span onclick="$(this).toggleClass('expanded collapsed');" class="docs-sidebar__heading {{ sectionClass }}">{{ section }}</span>
            {% assign pages = site.pages | where:"section",section | where:"exclude_from_sidebar", false %}

            {% assign versions = pages | group_by: "version" | sort: "name" %}
            <ul>
            {% for version in versions reversed %}
            {% if page.section == section and page.version == version.name %}
                {% assign versionClass = "expanded" %}
            {% else %} 
                {% assign versionClass = "collapsed" %}
            {% endif %}
            {% if section == "Introduction" %}
                {% assign versionClass = "expanded" %}
            {% endif %}
                <li>
                    {% if version.name != "" %}
                    <span onclick="$(this).toggleClass('expanded collapsed');" class="docs-sidebar__version {{ versionClass }}">{{ version.name }}</span>
                    {% endif %}
                    <ul>
                    {% assign pinnedItems = version.items | where:"pinned", true | order_by: "title" %}
                    {% assign normalItems = version.items | where:"pinned", false | order_by: "title" %}

                    {% for item in pinnedItems %}
                        <li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                    {% for item in normalItems %}
                        <li><a href="{{ site.url }}{{ item.url }}">{{ item.title }}</a>
                    {% endfor %}
                    </ul>
                </li>
            {% endfor %}
            </ul>
        </li>        
    {% endfor %}
</ul>
