<ul class="docs-sidebar__list">
                <li><a href="{{ site.url }}">Introduction</a></li>
                <li><a href="{{ site.url }}/getting-started">Getting Started</a></li>
                <li><a href="{{ site.url }}/deploy-with-puppet">Deploy with Puppet</a></li>
                <li><a href="{{ site.url }}/introduction">Introduction</a>
                    <ul>
                        <li><a href="{{ site.url }}/introduction">Event Sourcing Basics</a></li>
                        <li><a href="{{ site.url }}/running-the-event-store">Running the Event Store</a></li>
                    </ul>
                </li>
            </ul>