<ul class="docs-sidebar__list">
                <li><a href="{{ site.url }}">Home</a></li>
                <li><span class="docs-sidebar__heading">Getting Started</span>
                    <ul>
                        <li><a href="{{ site.url }}/getting-started">Getting Started</a></li>
                        <li><a href="{{ site.url }}/deploy-with-puppet">Deploy with Puppet</a></li>
                    </ul>
                </li>
                <li><span class="docs-sidebar__heading">Introduction</span>
                    <ul>
                        <li><a href="{{ site.url }}/introduction">Event Sourcing Basics</a></li>
                        <li><a href="{{ site.url }}/introduction/running-the-event-store">Running the Event Store</a></li>
                        <li><a href="{{ site.url }}/introduction/command-line-arguments">Command Line Arguments</a></li>
                        <li><a href="{{ site.url }}/introduction/setting-up-a-cluster">Setting up a Cluster</a></li>
                        <li><a href="{{ site.url }}/introduction/database-backup">Database Backup</a></li>
                        <li><a href="{{ site.url }}/introduction/internal-architectural-overview">Internal Architectural Overview</a></li>
                        <li><a href="{{ site.url }}/introduction/reliability">Reliability</a></li>
                    </ul>
                </li>
                <li><span class="docs-sidebar__heading">Cross-API Concepts</span>
                    <ul>
                        <li><a href="{{ site.url }}/cross-api-concepts/reserved-names">Reserved Names</a></li>
                        <li><a href="{{ site.url }}/cross-api-concepts/optimistic-concurrency-and-idempotence">Optimistic Concurrency & Idempotence</a></li>
                        <li><a href="{{ site.url }}/cross-api-concepts/client-error-handling">Client Error Handling</a></li>
                        <li><a href="{{ site.url }}/cross-api-concepts/which-api">Which API to Use?</a></li>
                        <li><a href="{{ site.url }}/cross-api-concepts/stream-metadata">Stream Metadata</a></li>
                        <li><a href="{{ site.url }}/cross-api-concepts/access-control-lists">Access Control Lists</a></li>
                    </ul>
                </li>
            </ul>