        </div>
    </div>
    <div class="site-footer">
        <div class="inner-container">
            <p class="footer__copyright">&copy; 2017 Event Store LLP</p>
            <ul class="footer__menu">
                <li class="footer__menu__item"><a href="https://eventstore.org/">Home</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.org/about/">About Us</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.zendesk.com">Support Sign In</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.org/terms/">Terms</a></li>
                <li class="footer__menu__item"><a href="https://eventstore.org/contact/">Contact</a></li>
            </ul>
        </div>
    </div>
    <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.2/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/js/bootstrap.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/anchor-js/3.1.0/anchor.min.js"></script>
    <script src="{{site.baseurl}}/js/scripts.min.js"></script>
    <script src="{{site.baseurl}}/js/codetabs.js"></script>
    <!-- Global site tag (gtag.js) - Google Analytics -->
    <script async src="https://www.googletagmanager.com/gtag/js?id=UA-46209892-15"></script>
    <script>
        window.dataLayer = window.dataLayer || [];
        function gtag(){dataLayer.push(arguments);}
        gtag('js', new Date());
        gtag('config', 'UA-46209892-15');
    </script>
</body>
</html>
