        </div>
    </div>
    <div class="site-footer">
        <div class="container">
            <p class="footer__copyright">&copy; 2014 Event Store LLP. All rights reserved.</p>
            <ul class="footer__menu">
                <li class="footer__menu__item"><a href="http://geteventstore.com">Home</a></li>
                <li class="footer__menu__item"><a href="http://geteventstore.com/about">About Us</a></li>
                <li class="footer__menu__item"><a href="http://geteventstore.com/blog">Blog</a></li>
                <li class="footer__menu__item"><a href="http://www.redbubble.com/people/eventstore/shop">Shop</a></li>
                <li class="footer__menu__item"><a href="http://geteventstore.com/terms">Terms</a></li>
                <li class="footer__menu__item"><a href="http://geteventstore.com/contact">Contact</a></li>
            </ul>
        </div>
    </div>
    <script src="//code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="{{ site.url }}/js/scripts.min.js"></script>
    {% include analytics.html %}
</body>
</html>