{% include header.html %}
        <aside class="docs-sidebar">
            <h1 class="docs-sidebar__title">Version 3.0.0</h1>
            <ul class="docs-sidebar__list">
                <li><a href="#">Introduction</a></li>
                <li><a href="#">Quick Start</a></li>
                <li>
                    <a href="#">Developers</a>
                    <ul>
                        <li>
                            <a href="#">Concepts</a>
                            <ul>
                                <li><a href="#">Event Sourcing</a></li>
                            </ul>
                        </li>
                    </ul>
                </li>
            </ul>
        </aside>
        <div class="docs-content">
            <div class="docs-breadcrumbs">
                <a href="#">Home</a> &rsaquo; 
                <a href="#">Developers</a> &rsaquo; 
                <a href="#">Concepts</a> &rsaquo; 
                Event Sourcing
            </div>
            {{ content }}
        </div>
{% include footer.html %}