{% include header.html %}
        <a href="#" class="docs-toc-toggle">Show Table of Contents</a>
        <aside class="docs-sidebar">
            {% include docs-sidebar.html %}
        </aside>
        <div class="docs-content">
            <h1>{{ page.title }}</h1>
            {{ content }}
            {% if page.title != "Documentation" %}
            <p class="docs-lead">Event Store docs are hosted on <a href="https://github.com/eventstore/docs.geteventstore.com">GitHub</a>. The repository is public and it’s open to issues and pull requests. Contributions, corrections and feedback are all welcome.</p>
            {% endif %}
        </div>
{% include footer.html %}